body{
    overflow-x: hidden;
}
*{
    font-family: 'Roboto', sans-serif;
}
.hell{
    font-size: 30px;
    font-weight: bold;
}
.calc{
    font-size: 22px;
    font-weight: 500;
    border-top: 2px solid #DC3545;
}


.left
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bonfire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    color: white;
    position: relative
}
.btns h3 {
    font-size: 20px;
}
.sub{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}


/* subtitle */
h2 {
    font-size: 22px;
}
.font-12{
    font-size: 12px;
}









/* quiz-section */
/* .quiz-section{
    padding: 50px 0;
} */
h1.rounded-circle{
    width: 75px;
    height: 75px;
    margin: auto;
    border: 1px solid blue;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
h1.rounded-circle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btns .btn{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.btns .btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.btn.btn-success.px-5.py-3.slick-arrow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* bottom: 50px; */
    margin-bottom: 10px;
}

.my-auto {
    margin-top: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.w100 {
    max-width: 90% !important;
    width: 100% !important;
    padding: 0 !important;
    height: 58px !important;
    margin: 10px !important;
}


.btns .btn.active{
    background-color: #212529 !important;
    color: #fff !important;
    


}

.last{
    position: relative;
}

.q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10, .q11, .last{
    display: none;
}
